.edit-user-page .preview{
    margin-bottom: 20px;
}

.edit-user-page form .tags .tag{
    color: #487490;
   font-weight: bold;
}

.edit-user-page h1.female{
    color: crimson;
}
.edit-user-page h1.male{
    color: #487490;
}
.edit-user-page h1.is-available{
   font-weight: bold;
}    