<div class="edit-user-page page" ng-controller="EditUserController">

    <h1>Edit profile</h1>

    <div class="preview alert alert-success">
        <p>Hello {{ getFullName() }} ({{ user.email }})!</p>
        <p>You are a {{ user.age }} years old {{ user.gender }} and you live in {{ user.location }}.</p>
        <p>
            <span ng-show="user.currentlyAvailable">You are currently available.</span>
            <span ng-hide="user.currentlyAvailable">Your next availability is the {{ user.nextAvailabilityDate | date: 'shortDate' }}</span>
        </p>
        <p ng-show="user.expectedSalary">Your expected salary is {{ user.expectedSalary | currency }}.</p>
    </div>

    <form name="userForm" novalidate ng-submit="save()">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group required">
                            <label class="control-label">First name</label>
                            <input name="firstName" required class="form-control" type="text" ng-model="user.firstName">
                        </div>
                        <div ng-messages="userForm.firstName.$error" ng-if="userForm.firstName.$touched || userForm.$submitted" ng-messages-include="components/form/generic-error-messages.html">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group required">
                            <label class="control-label">Last name</label>
                            <input name="lastName" required class="form-control" type="text" ng-model="user.lastName">
                        </div>
                        <div ng-messages="userForm.lastName.$error" ng-if="userForm.lastName.$touched || userForm.$submitted" ng-messages-include="components/form/generic-error-messages.html">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group required">
                            <label class="control-label">Email</label>
                            <input name="email" required class="form-control" type="email" ng-model="user.email">
                        </div>
                        <div ng-messages="userForm.email.$error" ng-if="userForm.email.$touched || userForm.$submitted" ng-messages-include="components/form/generic-error-messages.html">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group required">
                            <label class="control-label">Age</label>
                            <input name="age" required class="form-control" type="number" ng-model="user.age">
                        </div>
                        <div ng-messages="userForm.age.$error" ng-if="userForm.age.$touched || userForm.$submitted" ng-messages-include="components/form/generic-error-messages.html">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label name="location" required class="control-label">Location</label>
                            <input class="form-control" type="text" ng-model="user.location">
                        </div>
                        <div ng-messages="userForm.location.$error" ng-if="userForm.location.$touched || userForm.$submitted" ng-messages-include="components/form/generic-error-messages.html">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Gender</label>
                            <select name="gender" required class="form-control" ng-model="user.gender">
                                <option value="female">Female</option>
                                <option value="male">Male</option>
                            </select>
                        </div>
                        <div ng-messages="userForm.gender.$error" ng-if="userForm.gender.$touched || userForm.$submitted" ng-messages-include="components/form/generic-error-messages.html">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Currently available</label>
                            <input class="form-control" type="checkbox" ng-model="user.currentlyAvailable">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" ng-hide="user.currentlyAvailable">
                            <label class="control-label">Next availability</label>
                            <input name="nextAvailabilityDate" class="form-control" type="text" ng-model="user.nextAvailabilityDate" datepicker-popup is-open="openValidityDate" ng-focus="openValidityDate=true" ng-click="openValidityDate=true">
                        </div>
                        <div ng-messages="userForm.nextAvailabilityDate.$error" ng-if="userForm.nextAvailabilityDate.$touched || userForm.$submitted" ng-messages-include="components/form/generic-error-messages.html">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Expected salary</label>
                            <input name="expectedSalary" class="form-control" type="number" ng-model="user.expectedSalary">
                        </div>
                        <div ng-messages="userForm.expectedSalary.$error" ng-if="userForm.expectedSalary.$touched || userForm.$submitted" ng-messages-include="components/form/generic-error-messages.html">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group required">
                            <label class="control-label">Password</label>
                            <input name="password" minlength="8" class="form-control" type="password" ng-model="user.password">
                        </div>
                        <div ng-messages="userForm.password.$error" ng-if="userForm.password.$touched || userForm.$submitted" ng-messages-include="components/form/generic-error-messages.html">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group required">
                            <label class="control-label">Password (confirm)</label>
                            <input name="passwordConfirmation" class="form-control" type="password" ng-model="user.passwordConfirmation">
                        </div>
                        <div ng-messages="userForm.passwordConfirmation.$error" ng-if="userForm.passwordConfirmation.$touched || userForm.$submitted" ng-messages-include="components/form/generic-error-messages.html">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Tags</label>
                    <div class="row">
                        <div class="col-sm-8">
                            <input class="form-control" type="text" placeholder="java, tests, gestion de projet, php, hybris..." ng-model="newTag">
                        </div>
                        <div class="col-sm-4">
                            <a class="btn btn-primary" ng-click="addTag(newTag)" ng-disabled="!isValidTag(newTag)">add</a>
                        </div>
                    </div>
                </div>
                <ul class="tags">
                    <li class="tag" ng-repeat="tag in user.tags">{{ tag }}</li>
                </ul>
                <input class="hidden" name="tagsLength" ng-model="user.tags.length" type="number" min="1" max="5" />
                <div ng-messages="userForm.tagsLength.$error" ng-if="userForm.tagsLength.$dirty || userForm.$submitted" ng-messages-include="components/form/generic-error-messages.html">
                    <div class="error" ng-message="min">Please enter at least one tag</div>
                    <div class="error" ng-message="max">Please enter 5 tags max</div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3 col-md-offset-3">
                <button type="submit" class="btn btn-lg btn-primary">Save</button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-lg btn-warning" ng-click="reset()">Cancel</button>
            </div>
        </div>
    </form>

</div>