.edit-user-page {
    .preview {
        margin-bottom: 20px;
        color: green;
        
        &:hover{
            color: blue;
        }
        
    }
    form {
        .tags .tag {
            font-weight: bold;
            color: #487490;
        }
    }
}

.map-container {
    height: 250px;
    width: 100%;
}
